<p-menubar>
    <ng-template pTemplate="start">
      <img src="/assets/logo.png" alt="logo" height="160" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
      <button pButton type="button" label="Logout" icon="pi pi-power-off" class="p-button-danger"></button>
    </ng-template>
    <ul>
      <li pMenuItem>
        <a href="#">Home</a>
      </li>
      <li pMenuItem>
        <a href="#">About</a>
      </li>
      <li pMenuItem>
        <a href="#">Contact</a>
      </li>
    </ul>
  </p-menubar>
  